.d1{
    background-color:plum;
    text-align: center;
}
h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    background-color: rgb(192, 30, 192);
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
}
img{
    width: 70%;
    height: 70%;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}